<div class="mob_infos">
    <div style="display:block;width:100%;background-color:#000000;">
        <img src="../../assets/images/news_5.jpg" class="mob_img_infos"/>
    </div>
    <div style="display:block;text-align:left;padding-top:10px;">
        <span style="font-size:18px; font-weight:bold;">
            La rumeur du jour : IT 's possible !
        </span><br/>
        <span style="font-size:9px;font-color:#555555;font-weight:normal;">
            Publié le 13/10/2018
            <br/>Par G.Dumeou
        </span>
        <hr/>
        <div style="font-size:12px;font-weight: normal;" [innerHtml]="infos_test"></div>
    </div>
</div>
<div class="infos">

</div>