<div class="mob_list_infos" *ngFor="let news of list_of_news; let i = index;">
    <a routerLink="news/{{news.id}}" style="text-decoration:none; font-color:#000000; color:#000000;">
        <div class="mob_infos_img"><img src="{{news.img}}" class="mob_img_infos_list"/></div>
        <div class="mob_infos_separator"></div>
        <div class="mob_infos_text">
            <div style="font-size:10px;padding-top:3px;">
                {{news.type}}
            </div>
            <div style="font-size:12px;padding-top:6px;">
                {{news.title}}
            </div>
        </div>
    </a>
    <hr/>
</div>
<div class="list_infos">
    <div style="float:left;width:100%;text-align:left;padding-right:30px;">
        <section id="content">
            <div class="container_12">
                <div class="grid_12">
                    <div class="slider">
                        <ul class="items">
                            <li *ngFor="let news of list_of_news; let i = index;">
                                <img src="{{news.img}}" style="width:530px;" alt="">
                                <div class="banner">
                                    <p class="font-1">{{news.type}}</p>
                                    <p class="font-2">{{news.title}}</p>
                                    <p class="font-3">{{news.contains}}</p>
                                    <a routerLink="news/{{news.id}}">Lire la suite...</a>
                                </div>
                            </li>
                        </ul>
                        <div class="pagination">
                            <ul>
                                <li *ngFor="let news of list_of_news; let i = index;"><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br/>
    </div>
    <div style="display:block;padding-top:15px;">
        <div style="float:left;width:60%;text-align:left;padding-right:30px;">
            <a routerLink="news/5" style="text-decoration:none; font-color:#000000; color:#000000;">
                <div class="infos_img">
                    <img src="../../assets/images/news_5.jpg" class="img_infos_list"/>
                </div>
                <div class="infos_separator"></div>
                <div class="infos_text">
                    <div style="font-size:12px;padding-top:3px;">
                        INFOS
                    </div>
                    <div style="font-size:14px;padding-top:5px;">
                        <strong>La rumeur du jour : IT 's possible !</strong>
                    </div>
                    <div style="font-size:13px;;padding-top:5px;" [innerHtml]="infos_test">
                    </div>
                </div>
                <hr/>
            </a>
        </div>
        <div style="float:left;width:1px;min-height:80vh;background-color: #333333;"></div>
        <div style="float:right;width:30%;">TEST</div-->
        </div>
    </div>