<div style="display: block;padding:0px 10px 0px 10px;">
    <div class="infos_img"><img src="../../assets/images/news01.jpg" class="img_infos_list"/></div>
    <div class="infos_separator"></div>
    <div class="infos_text">
        Le dossier du jour : Les Pistons de Detroit !
    </div>
    <hr/>
    <div class="infos_img"><img src="../../assets/images/news01.jpg" class="img_infos_list"/></div>
    <div class="infos_separator"></div>
    <div class="infos_text">
        Le dossier du jour : Les Pistons de Detroit !
    </div>
    <hr/>
    <div class="infos_img"><img src="../../assets/images/news01.jpg" class="img_infos_list"/></div>
    <div class="infos_separator"></div>
    <div class="infos_text">
        Le dossier du jour : Les Pistons de Detroit !
    </div>
</div>