<div class="mob_infos" style="padding-left:10px;">

    <div style="display:block;text-align:left;padding-top:10px;">
        <span style="font-size:18px; font-weight:bold;">
            MENTIONS LÉGALES DU SITE : #fadeaway
        </span><br/>
        <img src="./assets/images/news_space.png" style="width:100%;height:3px;margin-bottom:10px;"/>
        <br/>
        <div style="text-align:justify; font-size:13px;line-height:18px;font-weight: normal;">
            <p><br>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site <span id="span_id_nom_du_site_internet">#fadeaway</span> les présentes mentions légales.</p>
            <p>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> est accessible à l'adresse suivante : <span id="span_id_url_site">ww.fadeaway.fr</span> (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
            <p><span style="text-align: left;"><span>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</span></span></p>
            <p><strong><br>ARTICLE 1 - INFORMATIONS LÉGALES</strong></p>
            <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
            <p>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> est édité par : <br/><strong><span id="span_id_nom_editeur">Gilles DUMEOU</span></strong></p>
            <p>Adresse e-mail : <span id="span_id_adresse_mail_editeur">contact@fadeaway.fr</span> </p>
            <p>ci après " l'Éditeur "</p>
            <p><br>Le Directeur de publication est : <br/><strong><span id="span_id_civilite_et_nom_du_directeur_de_publication">Jonathan DARTIGUEMALLE</span></strong></p>
            <p>Adresse e-mail de contact : <span id="span_id_adresse_e_mail_de_contact_pour_le_site">contact@fadeaway.fr</span></p>
            <p>ci après " le Directeur de publication "</p>
            <p><br>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> est hébergé par : <br/><strong><span id="span_id_denomination_sociale_de_l_hebergeur">1&amp;1 Internet AG</span></strong></p>
            <p>dont le siège est situé à l'adresse suivante : <span id="span_id_siege_social_de_l_hebergeur">Brauerstr. 48, 76135 Karlsruhe, Allemagne</span></p>
            <p>ci après " l'Hébergeur "</p>
            <p><br>Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent le site <span id="span_id_nom_du_site_internet">#fadeaway</span>.</p>
            <p>ci après les " Utilisateurs "</p>
            <p><strong><br>ARTICLE 2 - ACCESSIBILITÉ</strong></p>
            <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
            <p>En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>
            <p><strong><br>ARTICLE 3 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</strong></p>
            <p>Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous  </p>
            <p>En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment d'un droit d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification (art. 40) des données le concernant.</p>
            <p>Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant à l'adresse suivante : <span id="span_id_adresse_e_mail_de_contact_pour_le_site">contact@fadeaway.fr</span>, ou par courrier adressé au domicile de l'Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.</p>
            <p><strong><br>ARTICLE 4 - POLITIQUE DE COOKIES</strong></p>
            <p>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'Utilisateur.</p>
            <p>Conformément à la législation européenne, le site <span id="span_id_nom_du_site_internet">#fadeaway</span> a mis à jour sa politique de confidentialité en matière de cookies. L'Utilisateur est libre d'accepter ou de refuser les cookies de tous les sites internet en modifiant les paramètres de son navigateur internet.</p>
            <p><br><strong>ARTICLE 5 - CONTACT</strong></p>
            <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : <span id="span_id_adresse_e_mail_pour_les_abus" class="encours">contact@fadeaway.fr</span>
            <br/>
    </div>
    <br/>
</div>
</div>
<div class="infos" style="">
    <div style="float:left;width:65%;border: 1px solid #d0d0d0 !important;text-align:left;padding:20px;background-color:white;">
        <br/>
        <span style="font-size:18px; font-weight:bolder;">
           MENTIONS LÉGALES DU SITE : #fadeaway
        </span>
        <br/>
        <img src="./assets/images/news_space.png" style="width:620px;height:3px;margin-bottom:10px;"/>
        <div style="text-align:justify;font-size:15px;line-height:22px;font-weight: normal;">
            <p><br/>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site <span id="span_id_nom_du_site_internet">#fadeaway</span> les présentes mentions légales.</p>
            <p>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> est accessible à l'adresse suivante : <span id="span_id_url_site">ww.fadeaway.fr</span> (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
            <p><span style="text-align: left;"><span>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</span></span></p>
            <p><strong><br>ARTICLE 1 - INFORMATIONS LÉGALES</strong></p>
            <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
            <p>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> est édité par : <strong><span id="span_id_nom_editeur">Gilles DUMEOU</span></strong></p>
            <p>Adresse e-mail : <span id="span_id_adresse_mail_editeur">contact@fadeaway.fr</span> </p>
            <p>ci après " l'Éditeur "</p>
            <p><br>Le Directeur de publication est : <strong><span id="span_id_civilite_et_nom_du_directeur_de_publication">Jonahtan DARTIGUEMALLE</span></strong></p>
            <p>Adresse e-mail de contact : <span id="span_id_adresse_e_mail_de_contact_pour_le_site">contact@fadeaway.fr</span></p>
            <p>ci après " le Directeur de publication "</p>
            <p><br>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> est hébergé par : <strong><span id="span_id_denomination_sociale_de_l_hebergeur">1&amp;1 Internet AG</span></strong></p>
            <p>dont le siège est situé à l'adresse suivante : <span id="span_id_siege_social_de_l_hebergeur">Brauerstr. 48, 76135 Karlsruhe, Allemagne</span></p>
            <p>ci après " l'Hébergeur "</p>
            <p><br>Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent le site <span id="span_id_nom_du_site_internet">#fadeaway</span>.</p>
            <p>ci après les " Utilisateurs "</p>
            <p><strong><br>ARTICLE 2 - ACCESSIBILITÉ</strong></p>
            <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
            <p>En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>
            <p><strong><br>ARTICLE 3 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</strong></p>
            <p>Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous  </p>
            <p>En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment d'un droit d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification (art. 40) des données le concernant.</p>
            <p>Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant à l'adresse suivante : <span id="span_id_adresse_e_mail_de_contact_pour_le_site">contact@fadeaway.fr</span>, ou par courrier adressé au domicile de l'Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.</p>
            <p><strong><br>ARTICLE 4 - POLITIQUE DE COOKIES</strong></p>
            <p>Le site <span id="span_id_nom_du_site_internet">#fadeaway</span> a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'Utilisateur.</p>
            <p>Conformément à la législation européenne, le site <span id="span_id_nom_du_site_internet">#fadeaway</span> a mis à jour sa politique de confidentialité en matière de cookies. L'Utilisateur est libre d'accepter ou de refuser les cookies de tous les sites internet en modifiant les paramètres de son navigateur internet.</p>
            <p><br><strong>ARTICLE 5 - CONTACT</strong></p>
            <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : <span id="span_id_adresse_e_mail_pour_les_abus" class="encours">contact@fadeaway.fr</span>
                <br/>
        </div>
        <br/><br/>
        <br/>
    </div>
    <div style="float:left;width:2%;min-height:80vh;"></div>
    <div style="float:right;border: 1px solid #d0d0d0 !important;width:33%; background-color:white;text-align:left;padding:20px;">
        <span style="color:#fb8c28;font-weight:bolder;">DERNIERES</span>
        <span style="color:#111111;font-weight:bolder;"> INFOS & DOSSIERS</span>
        <br/>
        <img src="./assets/images/news_space.png" style="width:220px;height:3px;margin-bottom:10px;"/>
        <br/>
        <div *ngFor="let news of list_of_news; let i = index;" style="font-size:14px;font-weight: normal;">
            <a [routerLink]="['../', 'news', news.news_id]" class="menu_list">
                <!--<a [routerLink]="['news/'+news.news_id]" class="menu_list">-->
                <mat-icon style="height: 12px;width: 16px;font-size: 11px;color:#333333;margin-top:14px;">
                    fiber_smart_record
                </mat-icon>
                {{news.news_title}}
            </a><br/>
        </div>
    </div>
</div>